node_modules/
.next/
out/
.env
.env.local
.dev.db
dev.db
public/uploads/images/*
public/uploads/videos/*
public/uploads/docs/*
!public/uploads/**/.gitkeep
*.tsbuildinfo
next-env.d.ts

.vercel
devlog.txt
